## Pandas

In [ ]:
pip install pandas

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [ ]:
a =np.array([1,2,3])
srs= pd.Series(a)
print(srs)

In [ ]:
srs= pd.Series(a, index= ["x", "y", "z"])
print(a)

#### Data frame

In [ ]:
mydataset = {
    'operador': ["Cookie", "Max", "Jr"],
    'no. reloj': [101, 102, 103]
}
df= pd.DataFrame(mydataset)
print(df)

In [ ]:
df['no. reloj']

Llamar datos relacionados entre las dos columnas del df:

In [ ]:
df[df['no. reloj'] > 101]

Muestra los valores con un no. de reloj mayor a 101

In [ ]:
print(df.loc[0])

Muestra todos los datos que contiene el no. de reloj 101

Leer un CSV en Pandas:

In [ ]:
import pandas as pd
df =pd.read_csv("Perfil de estudiante.csv")

In [ ]:
df
#desplegar .csv

Navegación del .csv: <br>
<br>
df.head(), df.head(10) <br>
df.tail()<br>
df.info() #resumen y descripción del data frame, como en R <br>
Cuando no especificamos la cantidad de datos en head y tail muestra 5 datos

Convertir CSV a df:

In [ ]:
df = pd.read_csv("Perfil de estudiante.csv")
print(df.to_string())

#### JSON

df = pd.read_json("archivo.json") <br>
print(df.to_string())

In [ ]:
df = pd.read_json("dataset.json")
print(df.to_string())

##### Depuración de datos

Dataset:

In [ ]:
data = {

    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],

    'Edad': [25, 32, None, 42, 28],

    'Fecha': ['31/01/2020', '31/01/2020', None, '31/01/2020', '01/31/2020'],

    'Género': ['M', 'F', None, 'F', 'M'],

    'Ciudad': ['Madrid', None, 'Madrid', 'Valencia', 'Barcelona'],

    'Altura': [175, 163, 180, 158, 170],

    'Peso': [70, None, 80, 60, 75],

    'Ingresos': [50000, 60000, 40000, None, 55000]

}

Definimos el df:

In [ ]:
df= pd.DataFrame(data)
print(df)

Depuración:

In [ ]:
df_sin_vacios = df.dropna()
print(df_sin_vacios.to_string())

Se crea un nuevo archivo con los cambios

In [ ]:
df.dropna(inplace= True)
print(df.to_string())

Modifica directamente de la base de datos original

Reemplazar texto:<br>
df.fillna("Sin registro", inplace =True)<br>
Reemplazar texto en columna específica: <br>
df_cero = df["Ingresos"].fillna(0)<br>
<br>
Media:<br>
media=df["Ingresos"].mean()
<br>

Moda:<br>
df_moda=df["Ingresos"].fillna.(moda)<br>
<br>
Reemplazo específico:<br>
df.loc[1, "Peso"] =70
<br>Localizar el índice 1, en su columna peso, y lo reemplazas por 70 <br>
<br>
Duplicados:<br>
#identificación de duplicados df.duplicated()<br>
#eliminación de dup. df.drop_duplicated(inplace=True)<br>
<br>
Buscar una correlación:
df.corr()

# Práctica (tarea)

Práctica: Volver a subir el df y limparlo de la siguiente manera:<br>
1. Crear el data frame con los datos<br>
2. Crear varias instancias:<br>
    una en la que no haya vacíos,<br>
    una donde reemplace los nulos con un valor en particular,<br>
    uno más con todos los datos limpios (rellenar todos los campos con valores útiles)

Matriz de datos:

In [ ]:
data = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],
    'Edad': [25, 32, None, 42, 28],
    'Fecha': ['31/01/2020', '31/01/2020', None, '31/01/2020', '01/31/2020'],
    'Género': ['M', 'F', None, 'F', 'M'],
    'Ciudad': ['Madrid', None, 'Madrid', 'Valencia', 'Barcelona'],
    'Altura': [175, 163, 180, 158, 170],
    'Peso': [70, None, 80, 60, 75],
    'Ingresos': [50000, 60000, 40000, None, 55000]
}

In [ ]:
df= pd.DataFrame(data)
print(df)

Data frame sin columnas con datos vacíos:

In [ ]:
df_na = df.dropna()
print(df_na.to_string())

Data frame con na's reemplazados por valor particular:

In [ ]:
print(df)

In [ ]:
df_rp = df.fillna("-9999")
print(df_rp.to_string())

Data frame con todos los datos limpios (rellenar todos los campos con valores útiles):

In [ ]:
df_edad = df.loc[2, "Edad"]=18.0 #Edad
df_fecha= df.loc[2, "Fecha"]= "13/07/2023" #Fecha
df_gen=df.loc[2, "Género"]="I" #Género (Indefinido)
df_peso=df.loc[1, "Peso"]=65 #Peso
df_ing=df.loc[3, "Ingresos"]=65000 #Ingresos
print(df) #Resultado

#### Medidas de tendencia central:

Data frame:

In [6]:
data = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],
    'Edad': [25, 32, None, 42, 28],
    'Fecha': ['31/01/2020', '31/01/2020', None, '31/01/2020', '01/31/2020'],
    'Género': ['M', 'F', None, 'F', 'M'],
    'Ciudad': ['Madrid', None, 'Madrid', 'Valencia', 'Barcelona'],
    'Altura': [175, 163, 180, 158, 170],
    'Peso': [70, None, 80, 60, 75],
    'Ingresos': [50000, 60000, 40000, None, 55000]
}
df= pd.DataFrame(data)
print(df)

  Nombre  Edad       Fecha Género     Ciudad  Altura  Peso  Ingresos
0   Juan  25.0  31/01/2020      M     Madrid     175  70.0   50000.0
1  María  32.0  31/01/2020      F       None     163   NaN   60000.0
2  Pedro   NaN        None   None     Madrid     180  80.0   40000.0
3    Ana  42.0  31/01/2020      F   Valencia     158  60.0       NaN
4   Luis  28.0  01/31/2020      M  Barcelona     170  75.0   55000.0

Media: media = df['Edad'].mean() <br>
Mediana: mediana =df['Edad'].median() <br>
Moda: moda = df['Edad'].mode()